#welcome-title{
  margin-top: -30px;
}
#welcome-title h1 {
  color: var(--Color-Primary-Purple, #5664c4);
  text-shadow: 2px 4px 8px 0px #00000040;
  font-size: 70px;
  font-weight: 400;
  line-height: 64px;
  letter-spacing: 0.02em;
  text-align: center;
  height: 20px;
}

#login {
  height: 100vh;
  width: 100%;
}

#login-form label {
  margin-bottom: 10px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

.inputMarginBottom{
    margin-bottom: 5px;
}

.input-div {
  display: flex;
  background: var(--Color-Gray-Gray-50, #f9fafb);
  height: Fixed (56px) px;
  padding: 15px;
  gap: 10px;
  border-radius: 10px;
  opacity: 0px;
  width: 250px;
  margin-bottom: 10px;
}

.rememberPassword {
  width: 100%;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
}


.inputMarginTop{
    margin-top: 20px;
}