.contentPatients {
  display: flex;
  flex-direction: column;
  padding-bottom: 10em;
}

/* SEARCH */

.contentSearch {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  align-self: center;
}

.inputSearch {
  height: 2em;
  width: 95%;
  border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -ms-border-radius: 0.5em;
  -o-border-radius: 0.5em;
}

.imgSearch {
  position: absolute;
  right: 0.8em;
}
