@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Just+Another+Hand&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@media screen and (max-width: 768px) {
  #root {
    padding: 0;
    margin: 0;
    background: linear-gradient(180deg, #5664c4 0%, #7897bf 50%, #9acaba 100%),
      linear-gradient(180deg, #ffffff 0%, #999999 100%);
    background-blend-mode: hard-light, normal;
    overflow-x: hidden;
  }

  .roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }

  .roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }

  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }

  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }

  .roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
  }

  .roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
  }

  .roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
  }

  .roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
  }

  .roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
  }

  .roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
  }

  .roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
  }

  .just-another-hand-regular {
    font-family: "Just Another Hand", cursive;
    font-weight: 400;
    font-style: normal;
  }

  .interFont {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
  }


  .classHidden {
    display: none !important;
  }
  
  .classShow {
    display: flex !important;
  }
  

  body{
    padding-bottom: 10%;
  }
 

  .flex-column-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .flex-column {
    display: flex;
    flex-direction: column;
  }

  button {
    border: none;
  }

  button:focus {
    border: none;
    outline: none;
  }

  button:focus {
    outline: none !important;
  }

  input {
    border: none;
  }

  input:focus {
    outline: none;
  }

  .flex-row-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.flex-row-evenly {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}


.marginTop-20 {
  margin-top: 20px;
}

.justify-between{
  width: 100%;
  display: flex;
  justify-content: space-between;
}