.contentHistoryPatient {
  background-color: #e4e1e1;
  padding-bottom: 5em;
}

/* DATA PATIENT */

.contentDataPatient {
  margin-top: 1em;
  background-color: #f0eded;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.contentTitleDataPatient {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.5em;
}

.contentTextDataPatient {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.editDataPatient {
  width: 1em;
  height: 1em;
}

.arrowDownDataPatient {
  width: 1.5em;
  height: 1.5em;
}

.contentFormDataPatient {
  padding-bottom: 1em;
  display: flex;
  flex-direction: column;
}

.contentLabelAndInput {
  display: flex;
  flex-direction: column;
  padding: 0 0.5em;
  margin-bottom: 0.7em;
}

.inputDataPatient {
  margin-top: 0.3em;
  height: 3em;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

select {
  border: none;
}

.btnDataPatient {
  border: 1px solid #5664c4;
  border-radius: 1em;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -ms-border-radius: 1em;
  -o-border-radius: 1em;
  height: 2.5em;
  width: 70%;
  align-self: center;
}

/* DATA TUTOR */

/* EXAMEN FISICO */

.contentCardsHistoryPatient {
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 2em;
}

.contentCard {
  background-color: #f3f3f3;
  width: 7.5em;
  height: 6em;
  position: relative;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.microCard {
  width: 1.5em;
  height: 1.5em;
  position: absolute;
  right: 0;
  padding: 0.3em;
}

.contentTextCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 7.5em;
  height: 6em;
  padding-left: 0.5em;
}

.contentTitleCard {
  display: flex;
}

.iconCard {
  width: 1em;
  height: 1em;
  margin-right: 0.5em;
}

.titleCard {
  margin: 0;
}

.textCard {
  margin: 0.5em 0 0 0;
}

/* ANALISIS Y PLAN */

.contentPlanHistoryPatient {
  margin-top: 1em;
  background-color: #f0eded;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.contentTextHistoryPatient {
  background-color: #d3cece;
  height: 10em;
  position: relative;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1em;
}

.microHistoryPatient {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1em;
}

.textHistoryPatient {
  width: 95%;
}

.contentFormHistoryPatient {
  padding-bottom: 1em;
  display: flex;
  flex-direction: column;
}

.btnHistoryPatient {
  background-color: #5664c4;
  color: #ffffff;
  border-radius: 1em;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -ms-border-radius: 1em;
  -o-border-radius: 1em;
  height: 2.5em;
  width: 70%;
  align-self: center;
}
