#patient-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    width: 100vw;
    font-family: "Inter";
    font-style: normal;
    background-color: #FAFAFA;
    padding-top: 30px;
    padding-bottom: 100px;
}

#patient-menu h1 {
    padding-left: 30px;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
}

#profile-title {
    margin: 10px 0 10px 0;
}

#patient-menu-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.cardMenu {
    background-color: #Ffffff;
    border-radius: 10px;
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #6B72801A;
    box-shadow: 0px 2px 4px 0px #6B72800A;
    box-shadow: 0px 16px 32px -4px #6B72801A;

}

.cardMenu h2 {
    font-size: 1rem;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    color: #6B7280;
}

#cardContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}


#patient-home-header {
    margin-right: 40px;
}


.menu-icon {
    color: #5664c4;
    background-color: #6B72801A;
}

.flex-row-icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.cardMenu-titleCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    width: 50px;
}

.cardMenu-titleCard h2 {
    font-weight: bold;
    color: black;
}

#profile-title{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    color: black;
    font-weight: bold
}

#profile-image{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
}