#register {
  display: flex;
  justify-content: center;
  
}

#register-container {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#profile-selection {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}



.inputLayout {
  width: 300px;
  height: Fixed (56px) px;
  padding: 15px;
  border-radius: 10px;
  opacity: 0px;
  background: #f9fafb;
  border: none;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}
#register-title {
  margin-bottom: -20px;
}
#register-title h1 {
  display: flex;
  justify-content: end;
  align-items: end;
  font-size: 70px;
  color: #5664c4;
}


